{% extends 'base.html.twig' %}

{% block body %}
    {% spaceless %}
        <h1>Register</h1>
        <b style="color:red;">{{ error }}</b>
        <form method="post" id="register_form">
            {{ form_rest(form) }}
        </form>
        <a href="{{ path('homepage') }}">Back</a>
    {% endspaceless %}
{% endblock %}

